<nav class="teal teal darken-4">
  <div class="nav-wrapper">
    <a href="/pokemon/list" class="brand-logo"> Pokemon </a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a [routerLink]="['/pokemon/list']" routerLinkActive="router-link-active"> Home </a></li>
      <li><a [routerLink]="['/pokemon/list']" routerLinkActive="router-link-active"> Pokemons list </a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a [routerLink]="['/pokemon/list']" routerLinkActive="router-link-active"> Home </a></li>
  <li><a [routerLink]="['/pokemon/list']" routerLinkActive="router-link-active"> Pokemons list </a></li>
</ul>
