<footer class="page-footer teal darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Pokemon</h5>
        <p class="grey-text text-lighten-4">Angular project.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text"> Last pokemons  </h5>
        <ul *ngFor="let pokemon of pokemonList.slice(0,3)">
          <li><a class="grey-text text-lighten-3" [routerLink]="['/pokemon/detail', pokemon.id]" >{{pokemon.name}}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2020 Ariel S.
    </div>
  </div>
</footer>
